.home {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.home__row {
    display: flex;
    z-index: 1;
    margin: 0px 5px;
}


